<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item w3-button"><b>RD</b> Estates</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{allEstates(customerId=${customerId},brokerId=${brokerId})}" class="w3-bar-item w3-button">All Estates</a>
            <a th:href="@{allBrokers(customerId=${customerId},brokerId=${brokerId})}" class="w3-bar-item w3-button">All Brokers</a>
            <a th:href="@{customerLogin}" class="w3-bar-item w3-button" th:if="${customerId == null && brokerId == null}"> Log in</a>
            <a th:href="@{customersEstates(customerId=${customerId})}" class="w3-bar-item w3-button" th:if="${customerId != null}"> My estates</a>
            <a th:href="@{brokersAllUploadedEstates(brokerId=${brokerId})}" th:attr="brokerId=${brokerId}" class="w3-bar-item w3-button" th:if="${brokerId != null}"> My estates</a>
            <a th:href="@{newEstate(brokerId=${brokerId})}" th:if="${brokerId != null}">New Estate</a>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">My Estates</h3>
    </div>

    <!--<nav class="navbar navbar-light bg-light">
        <form class="form-inline" th:action="@{/customersEstates}" th:object="${searchVM}" method="get">
            <input class="form-control mr-sm-3" type="search" placeholder="Find by first or last name" aria-label="Search"
                   name="searchTerm" th:field="${searchVM.searchTermVM}" style="padding-right: 300px">
            <input th:field="${searchVM.customerIdVM}" hidden="hidden">
            <input th:field="${searchVM.brokerIdVM}" hidden="hidden">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>-->

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Heading</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estate: ${pageData.vmData}">
            <td scope="row" th:text="${estate.Name}"></td>
            <a><td th:text="${estate.size}"></td></a>
            <td th:text="${estate.price}"></td>
            <td th:text="${estate.status}"></td>
            <td><a th:href="@{estatePage(id=${estate.id}, customerId=${customerId})}">View</a></td>
        </tr>
        </tbody>
    </table>

    <div class="w3-container w3-padding-32">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:each="pagenum : ${pageData.pageNumbers}" th:classappend="${pagenum == pageData.currentPageNumber + 1} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/customersEstates(page=${pagenum}, customerId=${customerId})}" th:text="${pagenum}"></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Image of location/map -->
    <div class="w3-container">
        <img src="img/map.jpg" class="w3-image" style="width:100%">
    </div>

    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p> <a th:href="@{/registrationBroker}" title="W3.CSS" target="_blank" class="w3-hover-text-green">Register as a broker</a></p>
</footer>

</body>
</html>

